<%- include('./includes/head') %>
<%- include('./includes/aside', { path: path }) %>
<%- include('./includes/navbar') %>

<!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    
    
  <h4 class="py-3 mb-4"><span class="text-muted fw-light">Group/</span> Add Group</h4>

  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form action="/admin/group/manage/update/<%= tableName %>" method="POST">

            <% if (table && table.length) { %>
              <% table.forEach((table_row) => { %>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="lesson_faculty">Select Lesson</label>
                  <div class="col-sm-10">
                    <select name="lesson_<%= table_row.id %>" class="form-select col-sm-8" id="lesson_<%= table_row.id %>" aria-label="Faculty">
                      <option value="none" selected>Select Lesson From List</option>
                      
                      <% if (table_row.lesson && table_row.lesson !== '') { %>
                        <option value="<%= table_row.lesson %>" selected><%= table_row.lesson %></option>
                      <% } %>
            
                      <% if (!table_row.lesson || table_row.lesson === '') { %>
                        <% lessons.forEach((lesson_row) => { %>
                          <option value="<%= lesson_row.lesson_name %>"><%= lesson_row.lesson_name %></option>
                        <% }); %>
                      <% } %>
                      
                    </select>
                  </div>
                </div>
              <% }); %>
            <% } else { %>
              <p>No data available.</p>
            <% } %>
            
          
        
            <div class="row justify-content-end">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

<%- include('./includes/footer') %>
<%- include('./includes/foot') %>
