<%- include('./includes/head') %>
<%- include('./includes/aside', { path: path }) %>
<%- include('./includes/navbar') %>

<!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    
    
  <h4 class="py-3 mb-4"><span class="text-muted fw-light">Group/</span> Add Group</h4>

  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form action="/admin/group/manage/<%= info.group_name %>" method="POST">
            <% if (data && data.length) { %>
                <% data.forEach((row) => { %>


                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="lesson_faculty">Faculty</label>
                      <div class="col-sm-10">
                        <select name="lesson_faculty" class="form-select col-sm-8" id="lesson_faculty" aria-label="Faculty">
                          <option value="" disabled selected>Select Faculty</option>
                          <option value="Xətti Cəbr və analitik həndəsə" <%= row.lesson === 'Xətti Cəbr və analitik həndəsə' ? 'selected' : '' %>>Xətti Cəbr və analitik həndəsə</option>
                          <option value="İqtisadiyyat və idarəetmə">İqtisadiyyat və idarəetmə</option>
                        </select>
                      </div>
                    </div>



                <% }); %>
            <% } else { %>
                <p>No data available.</p>
            <% } %>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="lesson_faculty">Faculty</label>
              <div class="col-sm-10">
                <select name="lesson_faculty" class="form-select" id="lesson_faculty" aria-label="Faculty">
                  <option value="" disabled selected>Select Faculty</option>
                    <option value="Biznes və menecment">Biznes və menecment</option>
                    <option value="İqtisadiyyat və idarəetmə">İqtisadiyyat və idarəetmə</option>
                </select>
              </div>
            </div>
        
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="number">Number</label>
                <div class="col-sm-10">
                    <input type="text" name="number" class="form-control" id="number" placeholder="Soyad..." />
                </div>
            </div>
        
            <div class="row justify-content-end">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->

<%- include('./includes/footer') %>
<%- include('./includes/foot') %>
